{% extends "base.html" %}

{% block content %}
<h1>Docker</h1>

<table>
    <tr>
        <th>Nome</th>
        <th>ID</th>
        <th>Status</th>
        <th>Ações</th>
    </tr>
    {% for container in containers %}

    <tr>
        <td>{{ container.name }}</td>
        <td>{{ container.short_id }}</td>
        <td>{{ container.status }}</td>
        <td>
            {% if container.status == "running" %}
                <a href="{{ url_for('docker.stop_container', id=container.id) }}">Parar</a>
            {% else %}
                <a href="{{ url_for('docker.start_container', id=container.id) }}">Executar</a>
                <a href="{{ url_for('docker.remove_container', id=container.id) }}">Remover</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}